#!/usr/bin/env bash

NAME={{ app_name }}                                  # Name of the application
DJANGODIR={{ project_path }}            # Django project directory
NUM_WORKERS=3                                     # how many worker processes should Gunicorn spawn
DJANGO_SETTINGS_MODULE={{ django_settings }}             # which settings file should Django use
DJANGO_WSGI_MODULE=wsgi                     # WSGI module name
FINANCIFIE_SVC_URL={{ financifie_svc_url }}

echo "Starting $NAME as `whoami`"

# Activate the virtual environment
cd $DJANGODIR
export DJANGO_SETTINGS_MODULE=$DJANGO_SETTINGS_MODULE
export PYTHONPATH={{ application_path }}:$PYTHONPATH

# Start your Django Unicorn
# Programs meant to be run under supervisor should not daemonize themselves (do not use --daemon)
exec ./bin/gunicorn ${DJANGO_WSGI_MODULE}:application \
  --name $NAME \
  --workers $NUM_WORKERS \
  --log-level=debug \
  --log-file=-
